body {
    font-family: 'Cabin', sans-serif;
    background-color: white;
}


.Nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255)fff;
    color: rgba(31, 31, 31, 0.856);
    padding: 0.5rem 2rem;
}

.navlinks {
    position: absolute;
    top: 13px;
    right: 120px;
    list-style: none;
    display: flex;
    gap: 1.6rem;
}

.navlinks li a {
    text-decoration: none;
    color: rgba(31, 31, 31, 0.856);
    transition: color 0.3s ease;
    font-weight: bold;
    font-size: 1.1rem;                                                                          
}

.KaidoLab {
    display: flex;
    align-items: left;
    justify-content: left;
    position: absolute;
    left: 70px; 
    top: 13px;
}

.NavigationBar1 {
    display: flex;
    z-index: 1000;
    margin: 100px 0 0 0;
}

.hero-content {
    display: block;
    margin: 0 auto;
    text-align: left;
}

.HeroSection_Header {
    display: flex;
    font-family: 'Montserrat', system-ui, sans-serif;
    font-size: 3.9rem;
    font-weight: bolder;
    position: relative;
    left: 40px;
    line-height: 0.9em;
}

.Herosection_P {
    display: flex;
    position: relative;
    left: 40px;
    font-family: 'Inter', system-ui, sans-serif;
    color: #475569;
    font-size: 1.2rem;
    margin: -25px 0px 32px;
}

.Herosection_Span {
    display: inline-block;
    position: relative;
    font-family: 'Inter', system-ui, sans-serif;
    color: #004599;
    background-color: #CCE3FF;
    border-radius: 30px;
    padding: 0.2rem 0.5rem;
    left: 40px;
    top: 40px;
} 
